
.grid {
	height: 3000px;
	width: 1600px;
	grid-template-columns: repeat(6, 1fr);
  	grid-template-rows: repeat(7, 1fr);
  	grid-gap: 0px;
  	margin: auto;
}

.banner {
	background: #445863;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 100px;
}

.navigation{
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
	background-color: black;
	color: white;
	height: 75px;
}

.a {
	background: #292929;
}

.b {
	background-color: white;
	line-height: .7;
	height: 150px;
}

p {
	font-size: 24px;
	text-align: center;
	color: black;
}

li {
	display: inline-block;
	padding: 19px 25px;
	font-size: 25px;
}

h2 p {
	font-size: 60px;
}
